<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{{title}}</title>
</head>
    <nav>
        <h1 class="text-3xl font-bold underline">CRS / Marketplace</h1>
    </nav>
    <body>
        <h1 >{{title}}</h1>

        {% for t in templates %}
        <div>
            <a href="{{ t.url }}">{{ t.name }}</a>
            {% for author in t.authors %}
            <div>{{ author.name }}</div>
            {% endfor %}
            <p>{{t.description}}</p>
        </div>
        {% endfor %}
    </body>
</html>
