<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <title>{{title}}</title>
  </head>
  <nav>
    <h1 class="text-3xl font-bold underline">CRS / Marketplace</h1>
  </nav>
  <body class="w-full h-full">
    <div class="grid grid-cols-2 gap-4 px-20 pt-5">
      {% for t in templates %}
      <!-- for t in templates -->
      <a href="{{t.url}}" class="block">
        <div class="bg-gray-100 p-4">

          <h2 class="text-xl font-bold">{{t.name}}</h2>
          <h3 class="underline">{{t.url}}</h3>
          <p class="text-sm">{{t.description}}</p>
          <div class="grid grid-cols-2">
            <div class="">
              <p class="text-sm">
                <span class="font-bold">Author:</span> 
                    {% for a in t.authors %}
                    {{a.name}}
                    {% endfor %}
                    
                </p>
                <p class="text-sm">
                <span class="font-bold">Version:</span> {{t.version}}
                </p>
                <p class="text-sm">
                <span class="font-bold">License:</span> {{t.license}}
                </p>
            </div>
            </div>
        </div>
    

        </a>
     
      <!-- endfor-->

      {% endfor %}
    </div>
  </body>
</html>
